*{
	margin: 0;
	padding: 0;
}

.meunav{
	background-color: #a3130d;
	border: 1px solid #840000;
}
article{
	margin-top:25px;
}

table{
	margin-top:40px;
}
h2{
	text-align: center;
	color: #a3130d;
}
h3{
	text-align: left;
}

.logomeu{
	float: left;
}

.logoseu{
	float: right;
}

.table_2310{
	width: 70%;
}

.titulo_home, .h1_programacao{
	font-size: 42px;
    line-height: 1.4;
    color: #3d4449;
    font-weight: 700;
    font-family: 'Francois One', sans-serif;

}

.img_home{
	border-radius: 6px;
	margin-top: 50px;
}

.paragrafo_home{
	font-size: 20px;
    line-height: 2.4;
    color: #3d4449;
}
.img_email{
	margin-top: 60px;
	border-radius: 6px;
}

footer{
    background-color: #a3130d;
    height: 100px;
    margin-top: 60px;
}

footer p{
    text-align: center;
}
